.popover-toolbar
    min-width 100px
    > div
        cursor pointer
    i
        width 12px
.popover-layer
    transform-origin right top 0px !important
    transform scale(.8)
    .separator
        border-top 4px solid #f5f5f5
        margin 10px -10px
.popover-grid, .popover-factor
    .section-title
        font-size 12px
        height 20px
        line-height 20px
        background-color #EEEEEE
        margin 10px -10px
        padding 1px 0 0 10px
        &:first-child
            margin 0 -10px 10px
    .flex
        align-items flex-start
    span
        cursor pointer
        font-size 12px
        padding 4px 6px 0 0
        display inline-block
        &.is-active
            color #4285F4
.popover-grid,.popover-toolbar
    border-radius 4px
    margin-top 4px!important
.popover-factor
    padding 0 10px 10px
    .flex
        flex-wrap wrap
        justify-content flex-start
        [data-key='aqi'], [data-key='cieq']
            order -1
.fpi-slot-form
    position relative
    width 320px
    .label
        position absolute
        color #606266
        width 150px
        left -150px
        text-align right
        padding: 0 12px 0 0
    .select-location
        position absolute
        right 0
        top: 50%;
    
        
        
            
        
            