*
    margin 0
    padding 0
    // line-height 1
    background-repeat no-repeat

*, *:before, *:after
    box-sizing inherit

html, body
    font-family "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif
    font-size 14px
    height 100%
    box-sizing border-box

h1, h2, h3, h4, h5
    font-weight normal

ol, ul, li
    list-style none

a
    text-decoration none