$colors = {
    white: white,
    black: black,
    blue: #4285F4,
    l-blue:#2196f3
    gray: #616161

    bg: #efefef,
    bg-blue: #4285F4,
    bg-gray: #E3E3E3,
      bg-white: white

    bd: #9e9e9e,
    bd-light: #e0e0e0
}
