.el-radio-button:focus:not(.is-focus):not(:active),
.el-radio-button__orig-radio:checked + .el-radio-button__inner,
.el-pagination__jump .el-input.el-pagination__editor.is-in-pagination .el-input__inner
    box-shadow none
.el-table 
    td
        // padding 0 
        box-sizing border-box
        .cell
            padding 0 8px
    th 
        white-space nowrap
        overflow hidden
        padding 0
        height 40px
        .cell
            padding 0 8px
            font-size 12px
    .row-content
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height 24px
        margin 8px 0
        vertical-align middle
.my-dialog
    .el-dialog__body
        height 0
        padding 8px
    .el-dialog__footer
        .right li  
            text-align left     
            .el-checkbox__label
                padding-left 0
        .transfer-text
            margin 0 auto
.el-radio-button.el-radio-button--mini .el-radio-button__inner,
.el-button
    min-width 64px
// .el-input 
//     width 144px
.el-button.el-button--text
    padding 7px 0
    min-width auto
.el-message
    z-index 99999
.el-dialog__title
    font-size 14px  

